<%- include("header") -%>

 <div class="box-show" id="heading">
    <h1> <%- listTitle %> </h1>
  </div>

  <div class="box-show">
    <table>
      <% newListItems.forEach((item) => { %>
        <tr>
          <td>
            <div class="item">
              <p><%- item.itm %></p>
            </div>
          </td>
        <% if(item.isDone) {%>
          <td class="status-completed">Completed</td>
        <% } else{ %>
          <td class="status-inprogress">In Progress</td>
        <% }%>
        </tr>
      <% }); %>
    </table>
  </div> 

<%- include("footer") -%>
